__pycache__
.venv
*.db

src/assets/user_uploads/profile_pictures/*
!src/assets/user_uploads/profile_pictures/README.md

src/assets/user_uploads/language_images/*
!src/assets/user_uploads/language_images/README.md