@import "tailwindcss";

@theme {
  --spacing-base-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-base-lg: 1.5rem;

  --radius-base-sm: 8px;
  --radius-base: 12px;
  --radius-base-lg: 16px;

  --color-glass: #ececec66;
}

@layer base {
  svg {
    width: 100%;
    height: 100%;
    fill: var(--contrast);
  }
}
