@import "tailwindcss";

@theme {
  --spacing-base-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-base-lg: 1.5rem;

  --radius-base-xs: 16px;
  --radius-base-sm: 26px;
  --radius-base: 30px;
  --radius-base-lg: 36px;

  --color-brand-100: #e5f1ff;
  --color-brand-200: #7fafee;
  --color-brand-300: #347ad5;
  --color-brand-400: #174b8f;
  --color-brand-500: #031935;

  --color-danger-100: #ffe5e5;
  --color-danger-200: #ee7f7f;
  --color-danger-300: #df3f3f;
  --color-danger-400: #8f1717;
  --color-danger-500: #350303;

  --color-warning-100: #fff6e5;
  --color-warning-200: #eec77f;
  --color-warning-300: #d59d34;
  --color-warning-400: #8f6517;
  --color-warning-500: #352303;

  --color-brand-neutral-100: #eef0f5;
  --color-brand-neutral-200: #d8dde6;
  --color-brand-neutral-300: #abb1bf;
  --color-brand-neutral-400: #7e8699;
  --color-brand-neutral-500: #455066;
  --color-brand-neutral-600: #1c2333;
  --color-brand-neutral-700: #090e1a;

  --color-gray-neutral-100: #f0f0f0;
  --color-gray-neutral-200: #d6d6d6;
  --color-gray-neutral-300: #b3b3b3;
  --color-gray-neutral-400: #808080;
  --color-gray-neutral-500: #595959;
  --color-gray-neutral-600: #333333;
  --color-gray-neutral-700: #171717;

  --color-purple-100: #D9D7FF;
  --color-purple-300: #6961F9;
  --color-green-100: #B8FFC9;
  --color-green-300: #36B354;
  --color-orange-100: #FFE0B2;
  --color-orange-300: #C98011;
}

@layer base {
  svg {
    width: 100%;
    height: 100%;
    stroke: blue;
  }
}
